#sub2 {
    position: relative;
    width: 100%;
    .container {
        position: relative;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 0 100px 0;
        .content {
            width: 100%;
            padding: 30px;
            .eight-box {
                width: 1100px;
                height: 90px;
                border-left: 1px solid #ccc;
                border-top: 1px solid #ccc;
                display: flex;
                flex-flow: wrap;
                justify-content: center;
                position: relative;
                right: 30px;
                &.fixed {
                    z-index: 5;
                    position: fixed;
                    width: 100%;
                    height: 42px;
                    top: 57px;
                    left: 0;
                    background: #fff;
                    box-shadow: 0 3px 7px rgba(0,0,0,  0.07);
                    flex-flow: column;
                    overflow: hidden;
                    > li {
                        position: relative;
                        background: #fff;
                        z-index: 8;
                        top: 160px;
                        width: 260px;
                        height: 45px;
                        left: 401px;
                        border: 0;
                    }
                }
                &.on {
                    overflow: visible;
                    li {                        
                        &:hover {
                            background: #eee;
                        }
                    }
                }
                .arrow-btn {
                    position: absolute;
                    z-index: 1;
                    font-size: 500px;
                    top: 10px;
                    left: 660px;
                    width: 20px;
                    height: 20px;
                    background: none;
                    border: 0;
                    &.on {
                        font-size: 500px;
                        border: 0;
                        transform: rotate(180deg);
                    }
                    .material-icons {
                        cursor: pointer;
                        display: block;
                        font-size: 20px;
                    }
                }
                li {
                    display: flex;
                    width: 25%;
                    height: 45px;
                    border-bottom: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    min-height: 45px;
                    max-height: 45px;
                    a {
                        width: 273.75px;
                        height: 43px;
                        position: relative;
                        display: block;
                        padding: 3px 18px;
                        span {
                            padding: 10px 0 11px;
                            display: inline-block;
                            vertical-align: middle;
                            font-size: 14px;
                        }
                    }
                }                
            }
        }
        .frame-sm {
            width: 1100px;
            .category-box {
                width: 100%;
                .banner-img {
                    width: 100%;
                    a {
                        img {
                            width: 1100px;
                        }
                    }
                }
                .product-box {
                    width: 1100px;
                    padding: 20px 0 50px 0;
                    display: flex;
                    flex-flow: row wrap;
                    .product-list {
                        width: 281.25px;
                        max-width: 25%;
                        margin: 20px 0 0 0;
                        .gap {
                            position: relative;
                            width: 281.25px;
                            padding: 0 13px 0 12px;
                            .product-img {
                                > a {
                                    position: relative;
                                    .image {
                                        width: 256px;
                                        height: 256px;
                                        > img {
                                            max-width: 100%;
                                            border-radius: 5px;
                                        }
                                    }
                                    .marker {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        padding: 8px;
                                        pointer-events: none;
                                        display: flex;
                                    }
                                }
                            }
                            .product-caption {
                                width: 100%;
                                margin-top: 5px;
                                .top {
                                    margin: 5px 0;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    .delivery-box {
                                        width: 64px;
                                        height: 20px;
                                        font-size: 13px;
                                        .fast {
                                            display: block;
                                            width: 100%;
                                            height: 100%;
                                            background: url(../../../../public/images/sub/sub2/txt_badge_dlv.png) no-repeat 0 0;
                                        }
                                        .free {
                                            display: block;
                                            width: 100%;
                                            height: 100%;
                                            background: url(../../../../public/images/sub/sub2/txt_badge_dlv.png) no-repeat 0 -30px;
                                            transform: translateY(1.5px);
                                        }
                                    }
                                    .score {
                                        span {
                                            font-size: 13px;
                                            img {
                                                margin: 0 3px 0 0;
                                                transform: translateY(-1.5px);
                                            }
                                            &:first-child {
                                                color: #666;
                                            }
                                            &:last-child {
                                                padding: 0 0 0 2px;
                                                color: #999;
                                            }
                                        }
                                    }
                                }
                                .middle {
                                    height: 44px;
                                    margin: 10px 0 0 0;
                                    > a {
                                        display: block;
                                        font-size: 15px;
                                        line-height: 130%;
                                        color: #333;
                                    }
                                }
                                .bottom {
                                    span {
                                        display: flex;
                                        line-height: 20px;
                                        margin: 0 0 7px 0;
                                        strong {
                                            font-size: 15px;
                                            font-weight: 700;
                                        }
                                    }
                                    p {
                                        font-size: 11px;
                                        color: #999;
                                    }
                                    .badge-box {
                                        margin: 8px 0 0 0;
                                        > img {
                                            height: 20px;
                                            margin: 8px 4px 0 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }            
        }                
    }
}